<section id="legal-notice">
  <div class="content-wrapper">


    <app-header></app-header>
    <div class="container" *ngIf="isGerman; else englishContent">
      <div class="left">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
          <strong>Aris Karamat</strong><br>
          Schulstraße 8a<br>
          65520 Bad Camberg<br>
          Deutschland
        </p>

        <h2>Kontakt</h2>
        <p>
          E-Mail: <a href="mailto:karamataris@gmail.com">karamataris&#64;gmail.com</a>
        </p>

        <h2>Urheberrecht</h2>
        <p class="copyright">
          Die vom Seitenbetreiber erstellten Inhalte unterliegen dem deutschen Urheberrecht. Vervielfältigung,
          Bearbeitung, Verbreitung und Verwertung außerhalb der gesetzlichen Grenzen bedürfen der schriftlichen
          Zustimmung des Urhebers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
          Gebrauch erlaubt. Inhalte Dritter sind entsprechend gekennzeichnet. Bei Bekanntwerden von
          Urheberrechtsverletzungen werden solche Inhalte umgehend entfernt. </p>
      </div>

      <div class="right">
        <h2>Haftungsausschluss</h2>
        <h3>Haftung für Inhalte</h3>
        <p>
          Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
          allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich jedoch nicht verpflichtet,
          übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die
          auf eine rechtswidrige Tätigkeit hinweisen.
          <br> <br> Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
          allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
          Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
          Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.
        </p>

        <h3>Haftung für Links</h3>
        <p>
          Mein Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb
          übernehme ich für diese Inhalte keine Gewähr. Für den Inhalt der verlinkten Seiten ist stets der jeweilige
          Anbieter oder Betreiber verantwortlich. <br> <br>
          Zum Zeitpunkt der Verlinkung wurden die Seiten auf mögliche Rechtsverstöße geprüft; rechtswidrige Inhalte
          waren nicht erkennbar. Eine dauerhafte Kontrolle der verlinkten Seiten ist ohne konkrete Hinweise auf
          Rechtsverstöße nicht zumutbar. Bei Bekanntwerden solcher Verstöße werde ich die betreffenden Links umgehend
          entfernen.
        </p>
      </div>


    </div>
    <ng-template #englishContent>
      <div class="left">
        <h1>Legal Notice</h1>
        <h2>Information pursuant to § 5 TMG</h2>
        <p>
          <strong>Aris Karamat</strong><br />
          Schulstraße 8a<br />
          65520 Bad Camberg<br />
          Germany
        </p>

        <h2>Contact</h2>
        <p>
          Email: <a href="mailto:karamataris@gmail.com">karamataris&#64;gmail.com</a>
        </p>

        <h2>Copyright</h2>
        <p class="copyright">
          The content created by the website operator is subject to German copyright law. Reproduction, editing,
          distribution, and use outside the limits of copyright law require the author's written permission. Downloads
          and copies of this site are permitted for private, non-commercial use only. Third-party content is marked
          accordingly. If you become aware of any copyright infringement, such content will be removed promptly.
        </p>
      </div>

      <div class="right">
        <h2>Disclaimer</h2>
        <h3>Liability for Content</h3>
        <p>
          As a service provider, I am responsible for my own content on these pages under general laws in accordance
          with § 7 (1) TMG.
          However, under §§ 8 to 10 TMG, I am not obligated to monitor transmitted or stored third-party information or
          to investigate circumstances that indicate illegal activity.
          <br /><br />
          Obligations to remove or block the use of information under general laws remain unaffected.
          However, liability in this regard is only possible from the moment of knowledge of a specific legal violation.
          As soon as I become aware of such violations, I will remove the content immediately.
        </p>

        <h3>Liability for Links</h3>
        <p>
          My website contains links to external third-party websites over whose content I have no control. Therefore, I
          cannot accept any liability for such external content. The respective provider or operator of the linked pages
          is always responsible for their content. <br> <br>
          At the time of linking, the linked pages were checked for possible legal violations; no unlawful content was
          identifiable at that time. Permanent monitoring of the linked pages is not reasonable without concrete
          evidence of a violation. If any legal infringements become known, such links will be removed immediately.
        </p>
      </div>

    </ng-template>
  </div>
  <nav class="footer-nav">
       <div class="navbar-wrapper">
           <div class="initials">
               <h2 id="logo" (click)="navigateTo('head', '/')">AK</h2>
           </div>
           <div class="navbar">
               <div class="credits">
                   <h3>© Aris Karamat 2025</h3>
                   <h3 class="contact-animation" (click)="navigateTo('legal-notice', '/legal-notice')"> {{ isGerman ?
                       'Impressum' : 'Legal Notice' }} <img class="contact-overlay" src="assets/contact-line.png"
                           alt=""></h3>
               </div>
               <div class="contact-links">
                   <app-footer-nav [contact]="github"></app-footer-nav>
                   <app-footer-nav [contact]="linkedIn"></app-footer-nav>
                   <app-footer-nav [contact]="email"></app-footer-nav>
               </div>
  
           </div>
       </div>
   </nav>
</section>