@import 'mixins';
@import 'keyframes';

main {
    @include element-size(auto, 100%);
    @include font-style(20px, 400, black);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.yellow {
    @include paper(152px, 560px);
    background-image: url('./../../assets/yellow-paper.png');
    transform: rotate(-4deg);
    z-index: 2;
}

.blue {
    @include paper(152px, 560px);
    background-image: url('./../../assets/blue-paper.png');
    margin: -50px;
    z-index: 1;
}

.red {
    @include paper(152px, 560px);
    transform: rotate(4deg);
    background-image: url('./../../assets/red-paper.png');
    z-index: 0;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 48px;
    padding: 50px;

    >span {
        @include font-style(20px, 500, black);
    }

    >h1 {
        display: flex;
        flex-direction: column;
        margin-top: -38px;
        gap: 4px;
        @include font-style(64px, 700, black);
    }

    >button {
        align-self: flex-end;
        padding: 12px 24px;
        border-radius: 100px;
        border: 1px solid black;
        background-color: white;
        @include font-style(16px, 500, black);
        @include button-transition();
        filter: drop-shadow(2px 4px 0px black);

        &:hover {
            cursor: pointer;
            color: white;
            background-color: #F87A55;
            filter: drop-shadow(0px 0px 0px black);
            transform: translate(2px, 4px);
        }
    }

    >p {
        width: 540px;
    }
}

#blue-line {
    display: block;
    position: relative;
    pointer-events: none;

    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

#blue-line.show {
    animation: lineMask 200ms ease-in forwards !important;
}

#blue-line.hide {
    animation: lineMaskReverse 200ms ease-out forwards !important;
}

@media(max-width: 1300px) {
    .paper-wrapper {
        padding: 30px;
    }

    .about-me {
        padding: 20px;
    }

    .red,
    .yellow,
    .blue {
        @include paper(140px, 450px);
    }
}

@media(max-width: 1100px) {
    .about-me {
        gap: 24px;

        >span {
            padding-bottom: 12px;
            font-size: 18px;
        }

        >h1 {
            font-size: 48px;
        }

        >p {
            font-size: 16px;
            width: 360px;
        }
    }

    .red,
    .yellow,
    .blue {
        @include paper(130px, 380px);
        font-size: 18px;
    }

}

@media(max-width: 850px) {
    .paper-wrapper {
        padding: 0;
    }

    .red,
    .yellow,
    .blue {
        @include paper(120px, 350px);
        font-size: 16px;
    }

}

@media(max-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #blue-line{
        width: 250px;
    }

    .paper-wrapper {
        order: 1;
    }

    .about-me {
        order: 0;
    }
}

@media(max-width: 390px) {
    .about-me {
        >p {
            font-size: 14px;
            width: 300px;
        }
    }

    .red,
    .yellow,
    .blue {
        @include paper(120px, 300px);
        font-size: 14px;
    }

}