<main id="about-me">
    <div class="paper-wrapper" data-aos="flip-left">
        <div class="yellow"><img src="assets/location-icon.png" alt="map"> {{ isGerman ? "Ansässig in Bad Camberg" : "Based in Bad Camberg" }}</div>
        <div class="blue"><img src="assets/travel-icon.png" alt="map">  {{ isGerman ? "Umzugsbereit" : "open to relocate" }}</div>
        <div class="red"><img src="assets/work-remote.png" alt="map">{{ isGerman ? "Offen für Remote-Arbeit" : "Open to work remote" }}</div>
    </div>

    <div class="about-me" data-aos="flip-right">
        <span>{{ isGerman ? "WER IST ARIS" : "WHO'S ARIS"}}</span>
        <h1>{{ isGerman ? "Über mich" : "About me"}} <img src="assets/line.png" alt="line" id="blue-line"></h1>
        
        
        <p [innerHTML]="isGerman ? germanPTag() : englishPTag()"></p>
        
        <button (click)="scrollToContact()">{{ isGerman ? "Lasst uns reden" : "Let's talk" }}</button>
    </div>
</main>