<main>
    <div class="container-wrapper">
        <div class="back">Go Back</div>

        <div class="project-wrapper">
            <div class="project-details">
                <div class="headline">
                <h1>Project Name</h1>
                <img class="head-img" src="assets/notebook-line.png" alt="line">
                
                </div>
                
                <span>
                    <h2>Description</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam nam eum excepturi corrupti
                    officia quia quas. Sint sit officia neque molestiae perspiciatis, aspernatur officiis et doloribus
                    unde, alias sequi illum?</p>
                </span>
                
                <span>
                    <h2>Implementation Details</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vitae tempora minima, numquam
                    similique nemo sapiente maiores doloremque, officiis explicabo quam quos, odit repellendus
                    consectetur! Minus mollitia perspiciatis ipsa unde.</p>
                </span>
                

                <span id="duration">
                    <h3>Duration:</h3>
                    <p>3 weeks</p>
                </span>
                <div>
                    <img src="" alt="Javascript"> <span>Javascript</span>
                    <img src="" alt="HTML"> <span>HTML</span>
                    <img src="" alt="CSS"> <span>CSS</span>
                </div>
            </div>
            <div class="project-showcase">
                <div> <img src="" alt="project"> <img src="" alt="sticker"></div>
                <div class="buttons">
                    <button>GitHub</button>
                    <button>Live Test</button>
                </div>

            </div>
        </div>
        <div class="next">Next Project</div>
    </div>
</main>