<main>

    <div class="headline">
        <div class="frontend">
            <app-hello-world></app-hello-world>
            <h1>
                <span id="first">F</span>
                <span>r</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>e</span>
                <span>n</span>
                <span>d</span>
            </h1>
        </div>

        <div class="dev">
            <app-image-frame></app-image-frame>
            <h1>
                <span>D</span>
                <span>E</span>
                <span>V</span>
                <span>E</span>
                <span>L</span>
                <span>O</span>
                <span>P</span>
                <span>E</span>
                <span>R</span>
            </h1>

            <button>Get in Touch</button>

        </div>

    </div>


    <div class="bottom">
        <div class="social-media">

            <img src="assets/linkedin.png" alt="">
            <img src="assets/github.png" alt="">
            <img src="assets/mail.png" alt="">

        </div>
    </div>
</main>