<main>

    <div class="headline">
        <div class="frontend">
            <div>
                <button>Hello World</button>
                <h1>Frontend</h1>
            </div>

        </div>

        <div class="dev">
            <img src="assets/image-frame.png" alt="">
            <h1>DEVELOPER</h1>
            <button>Get in Touch</button>

        </div>

    </div>


    <div class="bottom">
        <div class="social-media">
            <img src="assets/linkedin.png" alt="">
            <img src="assets/github.png" alt="">
            <img src="assets/mail.png" alt="">
        </div>
    </div>
</main>