@import 'mixins';
@import 'keyframes';

main {
    @include element-size(100vh, 100%);
    background-image: url('./../../assets/bg_hero.png');
    background-position: center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    max-width: 1920px;
}

.social-media {
  display: flex;
  gap: 20px;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  .icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #3355FF;
      border-radius: 50%;
      z-index: 0;

      -webkit-mask-image: radial-gradient(circle, black 0%, transparent 0%);
      mask-image: radial-gradient(circle, black 0%, transparent 0%);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
    }

    &.hovered::before {
      animation: radialMask 125ms ease-out forwards;
    }

    &.unhovered::before {
      animation: radialMaskReverse 125ms ease-in forwards;
    }
  }
}



h1 {
    @include font-style(128px, 700, white);
}

.frontend h1 span {
    transition: all 75ms;
    text-transform: lowercase;

    &:hover {
        text-transform: uppercase;
        color: #F7C518;
        cursor: default;
    }
}

#first {
    text-transform: uppercase;

    &:hover {
        text-transform: lowercase;
        color: #F7C518;
    }
}

.dev h1 span {
    transition: all 75ms;
    text-transform: uppercase;

    &:hover {
        text-transform: lowercase;
        color: #F7C518;
        cursor: default;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.frontend {
    margin-top: -150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dev {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    >h1 {
        margin-left: -300px;
    }

    >img {
        @include element-size(244px, 200px);
        transform: rotate(8deg);
    }

    >button {
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid white;
        border-radius: 100px;
        padding: 12px 24px;
        box-shadow: 2px 4px 0px white;
        @include button-transition();
        @include font-style(18px, 500, white);

        &:hover {
            cursor: pointer;
            color: white;
            background-color: #F87A55;
            box-shadow: 0px 0px 0px white;
            transform: translate(2px, 4px);
        }
    }
}

app-image-frame{
    transform: rotate(8deg);
}

@media(max-width:960px){
    h1 >span{
        font-size: 100px;
    }
}