@import 'mixins';
@import 'keyframes';

form {
    display: flex;
    flex-direction: column;
    >.input-wrapper{

   
    >label {
        @include font-style(24px, 500, white);
        display: flex;
        flex-direction: column;
        padding: 16px 24px;
        gap: 8px;
        border-bottom: 1px solid #F7C518;

        &:hover {
            border-bottom: 1px solid #3355FF;
            border-top: 1px solid #3355FF;
            color: #F87A55;
        }

        >input {
            background-color: transparent !important;
            border: none;
            outline: none;
            @include font-style(18px, 400, white);

            &::placeholder {
                @include font-style(18px, 400, white);
            }
        }

    } 
}
}

input:is(:-webkit-autofill, :autofill) {
    background-color: transparent !important;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px 0;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    padding: 8px;
    border: 2px solid #3355FF;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    transition: all 75ms ease;
}

.privacy:hover{
 cursor: pointer;
}

.checkbox input[type="checkbox"]:hover {
    border-color: #3355FF;
    background-color: #3355FF4D;
    box-shadow: 0 0 2px 4px #3355FF4D;
}

.checkbox input[type="checkbox"]:checked {
    background-image: url('./../../../../../assets/check.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked:hover {
    border-color: #3355FF;
    background-color: #3355FF4D;
    box-shadow: 0 0 2px 4px #3355FF4D;
}



.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;

    >span {
        margin-top: -25px;
        @include font-style(16px, 400, #F87A55);

    }
}

button {
    background-color: transparent;
    border: 1px solid white;
    align-self: flex-end;
    border-radius: 20%;
    border-radius: 100px;
    box-shadow: 2px 4px 0px white;
    @include button-transition();
    @include element-size(40px, 154px);
    @include font-style(18px, 500, white);

    &:disabled {
        color: rgba(248, 249, 250, 0.3);
        border-color: rgba(248, 249, 250, 0.3);
        box-shadow: 2px 4px 0px rgba(248, 249, 250, 0.3);
        cursor: default;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
        color: white;
        background-color: #F87A55;
        box-shadow: 0px 0px 0px white;
        transform: translate(2px, 4px);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1a1a1a inset !important;
    -webkit-text-fill-color: white !important;
    background-color: transparent !important;
}


input:-moz-autofill {
    background-color: transparent !important;
}

.missingText::placeholder {
    color: red !important;
}

.missingTextLabel {
    border-bottom: 1px solid #ff3333 !important;
    border-top: 1px solid #ff3333 !important;
    color: #F87A55 !important;
}

.check-invalid{
    margin-bottom: 20px;
}

.hide-desktop{
  display: none;
  visibility: hidden;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.error-message {
  position: absolute;
  top: 50%;
  left: -200px;
  width: 180px;
  transform: translateY(-30%);
  background-color: #F87A55;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  @include font-style(16px, 400, white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    top: 10px; // etwas Abstand von oben
    right: -9px; // nach außen rechts zeigen
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #F87A55; // gleiche Farbe wie Hintergrund
  }
}



@media(min-width: 750px){
    .button-wrapper{
        align-self: flex-end;
    }
}




@media(max-width: 960px) {
    form {
        >label {
            font-size: 20px !important;
            >input{
                font-size: 16px !important;
                &::placeholder{
                    font-size: 16px !important;
                }
            }
        }
    }
    .checkbox{
        >label{
            font-size: 16px !important;
        }
    }
}

@media(max-width: 750px){
    .hide-desktop{
  display: initial;
  visibility: visible;
}

.error-message {
  position: absolute;
  top: 100%;
  left: 20px;
  width: 180px;
  transform: translateY(-10%);
  background-color: #F87A55;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  @include font-style(16px, 400, white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    top: -20px; // oberhalb der Box
    left: 15px; // etwas nach rechts versetzt
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F87A55; // Farbe zeigt nach oben
  }
}


.button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-line-mobile {
    width: 153px;
    height: 24px;
    display: block;
    position: relative;
    pointer-events: none;

    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

// Einblenden
.footer-line-mobile.show {
    animation: lineMask 200ms ease-in forwards !important;
}

// Ausblenden
.footer-line-mobile.hide {
    animation: lineMaskReverse 200ms ease-out forwards !important;
}

  form {
        >label {
            font-size: 24px !important;
            >input{
                font-size: 18px !important;
                &::placeholder{
                    font-size: 18px !important;
                }
            }
        }
    }
      .checkbox{
        >label{
            font-size: 15px !important;
        }
    }
}

@media(max-width: 550px){


  form {
        >label {
            font-size: 20px !important;
            >input{
                font-size: 16px !important;
                &::placeholder{
                    font-size: 16px !important;
                }
            }
        }
    }
      .checkbox{
        >label{
            font-size: 16px !important;
        }
    }

    .footer-line-mobile{
        width: 110px;
        height: 20px;
    }
}