<main>
    <section class="top">

        <div class="headline">
            <div><span>MY CRAFT</span>
                <h1>Projects <img src="assets/project-line-2.png" alt=""></h1>
            </div>

            <p>Encourage people to take a look and interact with your projects.
                Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
        </div>
        <div class="join">
            <div class="img-container" (mouseenter)="onHover()" (mouseleave)="onLeave()" (click)="navigateToProject(`join`)">
                <img class="sticker" src="assets/sticker.png" alt="">
                <img class="laptop" src="assets/laptop-mockup.png" alt="laptop">
                <button class="d_none" id="button">Project details</button>
            </div>

            <div class="description">
                <h2>Join</h2>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                    assign users and categories. </p>
            </div>
        </div>
    </section>


    <section class="bottom">
        <app-mycraft [craft]="sharkie"></app-mycraft>
        <app-mycraft [craft]="daBubble"></app-mycraft>
    </section>
</main>