<main id="projects">
    <section class="top">

        <div class="headline">
            <div><span class="subtitle">MY CRAFT</span>
                <h1 class="head-title">{{isGerman? 'Projekte': 'Projects'}} <img id="line" src="assets/project-line-2.png" alt=""></h1>
            </div>

            <p [innerHTML]="isGerman ? germanText() : englishText()"></p>
        </div>
        <div class="join">
            <div class="img-container" (mouseenter)="onHover()" (mouseleave)="onLeave()"
                (click)="navigateToProject(`join`)">
                <img class="sticker" src="assets/sticker.png" alt="">
                <img class="laptop" src="assets/laptop-mockup.png" alt="laptop">
                <button class="d_none" id="button">{{ isGerman ? 'Projekt Details' : 'Project details' }}</button>
            </div>

            <div class="description">
                <h2>Join</h2>
                <p>{{ isGerman ? "Erstelle und organisiere Aufgaben per Drag-and-Drop, weise Nutzern und Kategorien zu - für eine strukturierte und effiziente Projektplanung." : "Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories."}}
    </p>
            </div>
        </div>
    </section>


    <section class="bottom">
        <app-mycraft class="sharkie" [craft]="sharkie"></app-mycraft>
        <app-mycraft [craft]="daBubble"></app-mycraft>
    </section>
</main>