<main>
    <section class="top">
        <p> <img src="assets/blue-arrow.png" id="blue-arrow" alt=""> IN THEIR WORDS:</p>
        <h1>Colleagues' Thoughts</h1>
    </section>
    <section class="bottom">
        <div class="feedback-content">
            <app-feedback class="feedback1" [feedback]="feedback1"></app-feedback>
            <app-feedback class="feedback2" [feedback]="feedback2"></app-feedback>
            <app-feedback class="feedback3" [feedback]="feedback3"></app-feedback>
        </div>

    </section>
</main>