text {
    font-size: 18px;
    font-weight: 700;
    fill: black;
    text-anchor: middle;
}

#logo{
    font-size: 100px;
    font-family: 'Protest Revolution';
    letter-spacing: -10px;
    color: #0E1013;
}