<svg viewBox="0 0 250 250" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <!-- Pfad: Kreis mit Radius 60, Startpunkt oben (0,-60) -->
      <path id="kreisPfad"
            d="M125,125
               m 0,-102
               a 102,102 0 1,1 0,206
               a 102,102 0 1,1 0,-206" />
    </defs>

    <text>
      <textPath href="#kreisPfad" startOffset="0%">
        Aris Karamat - Frontend Developer - Aris Karamat - Frontend Developer - 
        Aris Karamat - Frontend Developer - Aris Karamat - Frontend Developer - 
      </textPath>
    </text>
  </svg>