@mixin font-style($size, $weight, $fontColor){
    font-family: 'Bricolage Grotesque';
    font-size: $size;
    font-weight: $weight;
    color: $fontColor;
}

@mixin element-size($height, $width){
    height: $height;
    width: $width;
}

@mixin paper($height, $width){
    @include element-size($height, $width);
    @include font-style(24px, 400, white);
    background-size: 100%;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
}

@mixin button-transition(){
     transition: 
        transform 100ms ease-in,
        box-shadow 100ms ease-in,
        background-color 100ms ease-in;
}

@mixin header-animation-position($top, $left, $width, $height){
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  pointer-events: none;

  -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
  mask-image: linear-gradient(to right, black 0%, transparent 0%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  
  transition: opacity 180ms ease-in-out;
}