<main>
    <section class="top">
        <div class="headline">
            <span>MY STACK</span>
            <h1>Skill set</h1>
        </div>
        <div class="text">
            <p>A short introduction of your skills. Highlight your experience of using different front-end technologies
                and emphasise your openness to learning and adapting to new technologies. </p>
        </div>
    </section>

    <section class="bottom">
    <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div>

    </div>
    </section>
</main>