@import 'mixins';
main {
    @include element-size(100vh, 100%);
    background-image: url('./../../assets/skills-bg.png');
    background-position: center;
    background-size:100% 100vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text{
    @include element-size(144px, 656px);
    background-image: url('./../../assets/skills-paper.png');
    background-size: 656px 144px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    >p{
        @include font-style(18px, 400, black);
        text-align: center;
        width: 90%;
    }

}


.headline{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    >h1{
        @include font-style(64px, 700, white);
    }
}
