@import 'mixins';
@import 'keyframes';

main {
    @include element-size(auto, 100%);
    background-image: url('./../../assets/skills-bg.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 48px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-left: -300px;
}

.text {
    @include element-size(224px, 656px);
    background-image: url('./../../assets/skills-paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    >p {
        @include font-style(18px, 400, black);
        text-align: center;
        width: 90%;
    }

}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;

    >span {
        @include font-style(20px, 500, white);
    }

    >h1 {
        @include font-style(64px, 700, white);
    }
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-right: -180px;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    width: 640px;
    flex-wrap: wrap;
}

.other-skills {
    position: relative;
    display: flex;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    >span {
        text-align: center;
        @include font-style(18px, 400, white);
    }

    >img {
        @include element-size(72px, 72px);
        filter: grayscale(100%);
        transition: filter 100ms ease-in;
        transition: ease-in 100ms;

        &:hover {
            filter: grayscale(0%);
            transform: scale(0.8);
        }
    }
}

#image-container {
    z-index: 1;
    @include font-style(40px, 400, white);
    width: 200px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(8deg);
    position: relative;
}

.germanSize {
    font-size: 30px !important;
}

.pull-text {
    z-index: 1;
    @include font-style(40px, 400, white);
    width: 90%;

    font-family: 'Kalam';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 32px;

    >img {
        @include element-size(40px, 50px)
    }
}

.pull {
    @include element-size(200px, 200px);
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 0;
}

#hover-image {
    @include element-size(200px, 200px);
    position: absolute;
    top:  30px;
    left: 0;
    z-index: 0;
}

#click-image {
    background-image: url('./../../assets/clicked-image.png');
    background-size: 100% 100%;
    position: absolute;
    top:  30px;
    left: 0;
    @include element-size(200px, 200px);

    >h4 {
        padding: 40px 16px;
        padding-bottom: 16px;
        text-align: center;
        @include font-style(18px, 700, white);

    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}


.react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    >p {
        @include font-style(16px, 400, white);
    }

    >img {
        @include element-size(40px, 40px);
    }
}

.vue-js {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    >p {
        @include font-style(16px, 400, white);
    }

    >img {
        @include element-size(40px, 40px);
    }
}

#skill-head {
    position: relative;
    display: inline-block;
    z-index: 2;
}

#circle-line {
    position: absolute;
    top: -5px;
    left: -18px;
    width: 120%;
    height: 120%;

    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
}

#circle-line.show {
    animation: lineMask 200ms ease-in forwards !important;
}

#circle-line.hide {
    animation: lineMaskReverse 200ms ease-out forwards !important;
}

.d_none {
    display: none;
}

.hidden{
    visibility: hidden;
}

@media(max-width: 1300px) {
    .top {
        margin-left: -150px;
    }

    .bottom {
        gap: 50px;
    }
}

@media(max-width: 1200px) {
    .top {
        margin-left: -50px;
    }

    .bottom {
        gap: 50px;
        margin-right: -50px;
    }

    #click-image,
    #hover-image,
    .pull {
        @include element-size(180px, 180px);
    }

    .pull-text {
        font-size: 36px;

        >img {
            height: 30px;
            width: 40px;
        }
    }

    #image-container {
        width: 160px;
    }

    #click-image {

        >h4 {
            padding: 14px 12px;
        }

    }
}

@media(max-width: 1050px) {
    .skills {
        gap: 24px;
        width: 465px;
    }

    .skill-container>img {
        height: 62px;
        width: 62px;
    }

    .bottom {
        margin-right: 0;
        gap: 30px;
    }

    .top {
        margin-left: 0;
        gap: 30px;
    }

    .headline {
        >h1 {
            font-size: 48px;
        }

        >span {
            font-size: 18px;
        }
    }

    .text {
        height: 160px;
        width: 475px;

        >p {
            font-size: 14px;
        }
    }
}

@media(max-width:750px) {
    main {
        padding-top: 140px;
        justify-content: flex-start;
        gap: 24px;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 20px;
    }

    .headline {
        padding-bottom: 0;
    }

    .text {
        height: 170px;
        width: 450px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        >.skills {
            justify-content: flex-start;
            gap: 33px;
            width: 400px;
        }

        >.other-skills {
            margin-top: -120px;
        }
    }
}

@media(max-width: 500px) {
    .bottom {
        >.skills {
            width: 300px;
            gap: 20px;
        }

        >.other-skills {
            margin-top: -80px;
        }
    }

    .headline{
        padding-right: 12px;
        >span{
            font-size: 16px;
        }
        >h1{
            font-size: 40px;
        }
    }
    .text {
        height: 280px;
        width: 320px;
    }
    .skill-container {
        >img {
            height: 45px;
            width: 45px;
        }

        >span {
            font-size: 14px;
        }
    }
}

@media(max-width: 400px){
    #image-container {
        width: 120px;
        margin-left: -160px;
    }

    .germanSize{
        font-size: 20px !important;
        padding-bottom: 15px;
        padding-left:15px;
    }

    #click-image,
    #hover-image,
    .pull {
        @include element-size(140px, 140px);
    }

    .pull-text{
        font-size: 26px;
        padding-top: 0px;
        >img{
            height: 20px;
            width: 30px;
        }
    }

    #click-image {
        >h4 {
            font-size: 14px;
            padding: 10px 8px;
        }
    }
    .react, .vue-js{
        >img{
            height: 30px;
            width: 30px;
        }
        >p{
            font-size: 16px;
        }
    }
    .text{
        width: 300px;
    }
}