@import 'mixins';
@import 'keyframes';

main {
    @include element-size(100vh, 100%);
    background-image: url('./../../assets/skills-bg.png');
    background-position: center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    gap: 48px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-left: -300px;
}

.text {
    @include element-size(224px, 656px);
    background-image: url('./../../assets/skills-paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    >p {
        @include font-style(18px, 400, black);
        text-align: center;
        width: 90%;
    }

}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;

    >span {
        @include font-style(20px, 500, white);
    }

    >h1 {
        @include font-style(64px, 700, white);
    }
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-right: -180px;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    width: 640px;
    flex-wrap: wrap;
}

.other-skills {
    position: relative;
    display: flex;

}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    >span {
        text-align: center;
        @include font-style(18px, 400, white);
    }

    >img {
        @include element-size(72px, 72px);
        filter: grayscale(100%);
        transition: filter 100ms ease-in;
        transition: ease-in 100ms;

        &:hover {
            filter: grayscale(0%);
            transform: scale(0.8);
        }
    }
}

#image-container {
    z-index: 1;
    @include font-style(40px, 400, white);
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(8deg);
}

.germanSize{
    font-size: 30px !important;
}

.pull-text {
    z-index: 1;
    @include font-style(40px, 400, white);
    width: 100%;

    font-family: 'Kalam';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 12px;

    >img {
        @include element-size(40px, 50px)
    }
}

.pull {
    @include element-size(200px, 200px);
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 0;
}

#hover-image {
    @include element-size(200px, 200px);
    position: absolute;
    top: -113px;
    left: 0;
    z-index: 0;
}

.germanPosition{
    top: -45px;
}

#click-image {
    background-image: url('./../../assets/clicked-image.png');
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    margin-top: -15px;
    margin-right: -15px;

    >h4 {
        padding: 40px 16px;
        padding-bottom: 16px;
        text-align: center;
        @include font-style(18px, 700, white);

    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}


.react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    >p {
        @include font-style(16px, 400, white);
    }

    >img {
        @include element-size(40px, 40px);
    }
}

.vue-js {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    >p {
        @include font-style(16px, 400, white);
    }

    >img {
        @include element-size(40px, 40px);
    }
}

#skill-head {
    position: relative;
    display: inline-block;
    z-index: 2;
}

#circle-line {
    position: absolute;
    top: -5px;
    left: -18px;
    width: 120%;
    height: 120%;

    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
}

#circle-line.show {
    animation: lineMask 200ms ease-in forwards !important;
}

#circle-line.hide {
    animation: lineMaskReverse 200ms ease-out forwards !important;
}

.d_none {
    display: none;
}

@media(max-width: 1300px){
    .top {
    margin-left: -150px;
}
    .bottom{
        gap: 50px;
    }
}