@import 'mixins';
@import 'keyframes';

footer {
    @include element-size(100vh, 100%);
    background-image: url('./../../../../assets/footer-bg.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

h1 {
    @include font-style(64px, 700, white);

}

h2{
      font-family: 'Protest Revolution';
      color: #3355FF;
      font-size: 64px;
      letter-spacing: -10px;
      &:hover{
        color: #F7C518;
        cursor: default;
      }
    }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;

  >h3 {
    @include font-style(18px, 700, white);
  }
}

.left {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;

    >span {
        @include font-style(20px, 500, white);
    }
    >p {
        @include font-style(18px, 400, white);
    }
}

.right {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

app-svg {
    @include element-size(200px, 200px);
    align-self: flex-end;
    background-image: url('./../../../../assets/orange.png');
    background-size: 100% 100%;
    background-position: cover;
    background-repeat: no-repeat;
    margin-bottom: -80px;
    transform: rotate(15deg);
    z-index: 2;
}

.footer-line {
    width: 280px;
    height: 44px;
    display: block;
    position: relative;
    pointer-events: none;
    align-self: flex-end;

    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 0%);
    mask-image: linear-gradient(to right, black 0%, transparent 0%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

// Einblenden
.footer-line.show {
    animation: lineMask 200ms ease-in forwards !important;
}

// Ausblenden
.footer-line.hide {
    animation: lineMaskReverse 200ms ease-out forwards !important;
}

.contact-animation{
  position: relative;
  display: inline-block;
}

.contact-overlay {
  @include header-animation-position(-5px, -15px, 130%, 180%);
}

.contact-animation:hover .contact-overlay{
  animation: lineMask 180ms ease-in forwards;
}

.contact-animation .contact-overlay{
  animation: lineMaskReverse 180ms ease-in-out forwards;
}

.subtitle{
  padding-top: 20px;
  margin-bottom: -40px;
}

@media(max-width: 1300px){
  footer{
    gap: 80px;
  }
}

@media(max-width: 1200px){
.right {
    width: 400px;
  }

  .left {
    width: 460px;
    >p{
      font-size: 16px !important;
    }
    >span{
      font-size: 18px !important;
    }
  }

  h1{
    font-size: 48px !important;
  }

  app-svg {
    @include element-size(180px, 180px);
  }
  .footer-line {
    width: 240px;
    height: 35px;
  }
}

@media(max-width: 960px){
  footer{
    gap: 20px;
  }
  .right{
    width: 350px;
    padding-top: 115px;
  }
  .left{
    width: 380px;
    gap: 20px;
    
  }
  .subtitle{
    margin-bottom: 0;
  }
  app-svg {
    @include element-size(150px, 150px);
  }
}


@media(max-width: 800px){
  .right{
    width: 330px;
    padding-top: 60px;

  }
  .left{
    width: 330px;
      >p{
      font-size: 14px !important;
    }
    >span{
      font-size: 16px !important;
    }
  }
  h1{
    font-size: 36px !important;
  }
}

@media(max-width: 750px){
footer {
  background-size: 200% 100vh;;
}

}
