<footer>
    <section class="left">
        <span>CONTACT ME</span>
        <h1>Ready to work together?</h1>
        <p>Encourage people to contact you and describe what role you are interested in. Express confidence in your
            ability to make a meaningful contribution to a team through your expertise and enthusiasm for improving your
            skills.
            <br> <br>
            Show interest in contributing to a new project, while
            highlighting the value and skills you can bring to the table.
        </p>
        <img src="assets/footer-line.png" alt="">
    </section>

    <section class="right">
        <img src="assets/orange.png" alt="">
        <form>
            <label for="name">What's your name?
            </label> 
            <input type="text" id="name">

            <label for="email"> What's your email?
            </label><input type="text" id="email">

            <label for="help"> How can I help you? </label>
            <input type="text" id="help">
            <input type="checkbox"> 
            
            <span>I've read the <a href="#">privacy policy</a> and agree to the processing of my
                data as outlined.</span>
            <button>Send</button>
        </form>
    </section>

    <nav>

    </nav>
</footer>