<footer id="contact-page">
    <section class="left">
        <span class="subtitle">{{ isGerman ? 'KONTAKTIEREN MICH' : 'CONTACT ME' }}</span>
        <h1 [innerHTML]="isGerman ? 'Bereit für eine Zusammenarbeit?' : 'Ready to work together?'"></h1>
        <p [innerHTML]="isGerman ? germanText() : englishText()">
        </p>
        <img src="assets/footer-line.png" class="footer-line" alt="">
        <span class="contact">
            <h2 (click)="scrollToHeader()">AK</h2>
            <h3>© Aris Karamat 2025</h3>

            <nav>
                <h3 class="contact-animation"> {{ isGerman ? 'Datenschutzerklärung' : 'Legal Notice' }} <img class="contact-overlay" src="assets/contact-line.png"
                        alt=""></h3>
                <app-footer-nav [contact]="github"></app-footer-nav>
                <app-footer-nav [contact]="linkedIn"></app-footer-nav>
                <app-footer-nav [contact]="email"></app-footer-nav>
            </nav>
        </span>
    </section>
    <section class="right">
        <app-svg></app-svg>
        <app-form></app-form>
    </section>
</footer>