@import 'mixins';
@import 'keyframes';


section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile-contact {
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 1920px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.initials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    align-items: flex-start;
}

.credits{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    align-items: flex-end;
}

h3 {
    @include font-style(18px, 700, white);
}

h2 {
    font-family: 'Protest Revolution';
    color: #3355FF;
    font-size: 64px;
    letter-spacing: -10px;

    &:hover {
        color: #F7C518;
        cursor: pointer;
    }
}

.contact-animation {
    position: relative;
    display: inline-block;
}

.contact-animation:hover {
    cursor: pointer;
}

.contact-overlay {
    @include header-animation-position(-5px, -15px, 130%, 180%);
}

.contact-animation:hover .contact-overlay {
    animation: lineMask 180ms ease-in forwards;
}

.contact-animation .contact-overlay {
    animation: lineMaskReverse 180ms ease-in-out forwards;
}

.hide-desktop {
    display: none;
    visibility: hidden;
}

@media(max-width: 750px) {
    .d_none_mobile {
        display: none;
        visibility: hidden;
    }

    .hide-desktop {
        display: block;
        visibility: visible;
    }

    .initials{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-contact{
        gap: 30px;
    }
}