<div class="project">
  <div class="img-container" (mouseenter)="onHover()" (mouseleave)="onLeave()" (click)="navigateToProject(`${craft.routeId}`)">
    <img [src]="craft.img" alt="">
    <button class="d_none" id="button-{{craft.button}}">{{ isGerman ? 'Projekt Details' : 'Project details'}}</button>
  </div>

  <div class="description">
    <h2>{{ craft.h2 }}</h2>
    <p>{{ isGerman ? craft.deu : craft.eng }}</p>
  </div>
  <div class="button-container">
    <button class="hide-desktop mobile-button" [routerLink]="['/project', craft.routeId]">{{ isGerman ? 'Projekt Details' : 'Project details'}}</button>
  </div>
  
</div>
