// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


* {
  margin: 0;
}

/* Gesamtes Dokument */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* WebKit-Browser (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background-color: #000;       /* Schwarzer Hintergrund */
  border-radius: 10px;          /* Abgerundete Ecken für den Track */
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #505050;       /* Dunkelgrauer Daumen */
  border-radius: 10px;
  border: none;
  background-clip: padding-box;
}

/* Hover-Effekt */
body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #b4b5b6 #010000cf;   /* Grau auf schwarzem Track */
}




body {
  margin: 0;
  font-family: 'Bricolage Grotesque';
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Protest Revolution';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/protestRevolution/ProtestRevolution-Regular.ttf') format('truetype');
}

.sticker {
  width: 120px;
  height: 120px;
  margin-left: -60px;
}

.privacy{
    color: #3355FF;
    text-decoration: none;

    &:hover {
        color: #F7C518;
    }
}

