@import 'mixins';
@import 'keyframes';

main {
    @include element-size(100vh, 100%);
    background-image: url('./../../../../../assets/notebook-paper.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #0E1013;
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    padding: 70px 70px;
    max-width: 1920px;
    overflow-y: auto; // Falls nötig
    box-sizing: border-box;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 100px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
}

ul {
    margin-left: -15px;
}

.left {
    width: 100%;

    >p {
        width: 100%;
    }
}

.right {
    color: white;
    width: 100%;


    >p {
        width: 100%;
    }
}


h1 {
    font-size: 64px;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #3355FF;
    }
}

@media (min-width: 750px) {
    @media(max-width: 1600px) {
        .german {
            font-size: 48px;
        }

        .content-wrapper {
            padding: 70px 40px;
        }
    }

    @media(max-width: 1300px) {
        .german {
            font-size: 40px;
        }

        h2 {
            width: 400px;
        }

        main {
            overflow: hidden;
        }

        section {
            gap: 28px;

            >div {
                gap: 8px;
            }
        }

        .right {
            padding-left: 70px;
        }
    }

    @media(max-width: 1150px) {
        .german {
            font-size: 32px;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 18px;
            width: 300px;
        }

        li {
            font-size: 14px;
            width: 300px;
        }

        p {
            font-size: 14px;
        }
    }


    @media(max-width: 950px) {
        .german {
            font-size: 24px;
        }

        .german-h2 {
            font-size: 16px;
        }

        .right {
            padding-left: 40px;
        }

    }

    @media(max-width: 950px) {
        .right {
            padding-left: 20px;
        }
    }

}


@media(max-width: 750px) {
    .mobile-white {
        color: white;
        filter: drop-shadow(1px 1px 4px black);
    }

    .german {
        font-size: 48px;
    }

    .text-white {
        color: white;
        filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.615))
    }

    .d_none_mobile {
        display: none;
        visibility: hidden;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

    }

    main {
        @include element-size(auto, 100%);
        background-image: url('./../../../../../assets/project-view-bg.png');
    }

    .right {
        color: black;
    }
}

@media(max-width: 620px) {
    h1 {
        font-size: 48px;
    }

    .german {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
        width: 350px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
        width: 350px;
    }
}

@media(max-width: 515px) {
    .content6 {
        color: white;
        filter: drop-shadow(1px 1px 10px black)
    }

    .content-wrapper {
        padding: 80px 20px;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 32px;
    }

    .german {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
        width: 300px;
    }

    p {
        font-size: 14px;
    }

    li {
        font-size: 14px;
        width: 250px;
    }
}

@media(max-width: 370px) {
    ul {
        margin-left: -30px;
    }

    .content-wrapper {
        padding: 80px 5px;
    }
}