<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Portfolio/

  # Dateien oder Verzeichnisse normal laden
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Alle anderen Pfade an index.html weiterreichen (für Angular-Routing)
  RewriteRule ^.*$ index.html [L]
</IfModule>
